---
import Layout from '../layouts/Layout.astro';
import doncarty from '../public/doncarty.webp';
import Card from '../components/Card.astro';
---

<Layout title="Awaken U">
	<main class="bg-center bg-no-repeat bg-[url('/public/banner3.jpg')] bg-gray-700 bg-blend-multiply parallax">

		<section>
		  <div class="container flow">
			<div class="hero__content flow sm:flex">
				<div class="container">
					<h2 class=" text-white max-w-24ch mb-4 mt-16 text-4xl font-bold tracking-tight leading-none md:text-5xl lg:text-6xl dark:text-white text-left capitalize">
						Empowering You To improve 
						 The quality <br> of Your life</h2>
					  <p class="text-white">The Journey to a better life with Don Carty</p>
					  
					  <div class="flex mt-4">
						<a href="#featured-articles" class="btn btn--primary text-white bg-black p-4 rounded-3xl">Book A Call</a>
						
					  </div>
				</div>
				<div class="container">
					<img src={doncarty} alt="Don Carty" class="mx-auto rounded-3xl">
					<h2 class="text-white p-4 text-center font-bold">Donald Carty</h2>
					<h3 class="text-white font-medium pb-4 text-center">
						Award Winning Writer, Author, Storyteller
					</h3>
				</div>

			</div>
			
		  </div>
		</section>
	
		
	  </main>
</Layout>

<style>
	.parallax {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
	
	
</style>
