---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Awaken U">
	<main>

		<section class="hero bg-center bg-no-repeat bg-[url('/public/banner3.jpg')] bg-gray-700 bg-blend-multiply h-screen w-full  object-cover">
		  <div class="container flow">
			<div class="hero__content flow">
			  <h1 class=" text-white max-w-24ch mb-4 mt-40 text-4xl font-bold tracking-tight leading-none md:text-5xl lg:text-6xl dark:text-white text-left capitalize">
				The Journey to a Better Life <br>
				Unleash Your Potential <br>
				with Donald Carthy</h1>
			  <p class="text-white">Unlock Your True Potential and Embrace a Life of Transformation <br>
				 with Expert Professional Consulatant Donald Carty</p>
			  
			  <div class="flex">
				<a href="#featured-articles" class="btn btn--primary text-white bg-black p-4 rounded-3xl">Book A Call</a>
				
			  </div>
			</div>
			
		  </div>
		</section>
	
		<!-- <section id="featured-articles" class="featured-articles">
		  <div class="container flow">
			<h2 class="section-title text-center ">Featured articles</h2>
			<p class="text-center">Here is a sample of articles which I feel give you a good idea of what this site is all
			  about.</p>
			<ul role="list" class="articles__list flow">
			  <li>
				<article class="snippet">
				  <img src="/assets/blog/article-1.jpg" alt="This is a test" class="snippet__image">
				  <h3 class="snippet__title"><a href="/blog/my-first-article/">My First Article</a></h3>
				  <p class="snippet__meta">by <span>Kevin Powell</span> on <span>Apr 30, 2021</span></p>
				  <p class="snippet__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis accusantium
					sit illo neque rem omnis quaerat, nam similique vitae delectus ad magni vel quo maxime, magnam placeat.
					Reprehenderit, distinctio aliquam?</p>
				  <a href="/blog/my-first-article/" class="btn btn--primary">Continue Reading</a>
				</article>
			  </li>
			  <li>
				<article class="snippet">
				  <img src="/assets/blog/article-2.jpg" alt="This is a test" class="snippet__image">
				  <h3 class="snippet__title"><a href="/blog/my-second-article/">My Second Article</a></h3>
				  <p class="snippet__meta">by <span>Kevin Powell</span> on <span>May 14, 2021</span></p>
				  <p class="snippet__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis accusantium
					sit illo neque rem omnis quaerat, nam similique vitae delectus ad magni vel quo maxime, magnam placeat.
					Reprehenderit, distinctio aliquam?</p>
				  <a href="/blog/my-second-article/" class="btn btn--primary">Continue Reading</a>
				</article>
			  </li>
			  <li>
				<article class="snippet">
				  <img src="/assets/blog/article-3.jpg" alt="This is a test" class="snippet__image">
				  <h3 class="snippet__title"><a href="/blog/my-third-article/">My Third Article</a></h3>
				  <p class="snippet__meta">by <span>Kevin Powell</span> on <span>May 27, 2021</span></p>
				  <p class="snippet__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis accusantium
					sit illo neque rem omnis quaerat, nam similique vitae delectus ad magni vel quo maxime, magnam placeat.
					Reprehenderit, distinctio aliquam?</p>
				  <a href="/blog/my-third-article/" class="btn btn--primary">Continue Reading</a>
				</article>
			  </li>
			  <li>
				<article class="snippet">
				  <img src="/assets/blog/article-5.jpg" alt="This is a test" class="snippet__image">
				  <h3 class="snippet__title"><a href="/blog/my-fifth-article/">My Fifth Article</a></h3>
				  <p class="snippet__meta">by <span>Kevin Powell</span> on <span>Jun 14, 2021</span></p>
				  <p class="snippet__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis accusantium
					sit illo neque rem omnis quaerat, nam similique vitae delectus ad magni vel quo maxime, magnam placeat.
					Reprehenderit, distinctio aliquam?</p>
				  <a href="/blog/my-fifth-article/" class="btn btn--primary">Continue Reading</a>
				</article>
			  </li>
			</ul>
		  </div>
		</section> -->
	  </main>
</Layout>
<!-- 
<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style> -->
